<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat</title>

    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/chat.js"></script>
    <link href="css/cursor.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Chat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="bi bi-person"></i> User Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scoreboard"><i class="bi bi-person"></i> Scores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map"><i class="bi bi-map"></i> Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bestiary"><i class="bi bi-book"></i> Bestiary</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout"><i class="bi bi-moon"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="chat-container">
        <h1>Chat</h1>

        <div id="messages">
            {% for message in chat_history %}
            <p><strong>{{ message['user'] }}:</strong> {{ message['text'] }}</p>
            {% end %}
        </div>

        <div class="input-container">
            <input type="text" id="message-input" placeholder="Type your message...">
            <button id="send-button">Send</button>
        </div>
    </div>

    <script src="chat.js"></script>
</body>
</html>