<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="../css/generic.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Oops! Something went wrong</h1>
        <p>We're sorry, but it seems there was an error while trying to access this page.</p>
        <p>Please try the following:</p>
        <ul>
            <li><a href="javascript:history.back()">Go back to the previous page</a> and try again.</li>
            <li>Try to <a href="/logout">log out</a> in case there is an issue with your account.</li>
        </ul>
        <p>If the problem persists, feel free to <a href="mailto:support@example.com">contact our support team</a> for assistance.</p>
    </div>
</body>
</html>