<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.8em' font-size='80'>🏰</text></svg>">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
      <title>Epic Enclaves</title>
<style>
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 10px solid rgba(0, 0, 0, 0.1);
    }

    /* Custom CSS to adjust the layout */
    body {
        background-color: #f0f0f0;
    }

    .container p {
        margin: 0px; /* Reduce spacing between lines */
    }
    .row.mb-3 .col {
        margin-bottom: 10px;
    }
    .system-message {
        background-color: #cce5ff;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }

    .btn-group {
        margin: 2px;
    }

.profile-pic {
    max-width: 50px;
    max-height: 50px;
    padding: 4px;
}

    .btn-up {
        background-color: #007bff;
        border-color: #b0b0b0 !important;  /* Light gray border with !important to override other styles */
        margin: 2px; /* Normal spacing between navigation buttons */
        max-width: 100px;
    }

    .btn-up:hover {
        background-color: #0056b3;
    }

.profile-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start;
    background-color: #e9ecef; /* Add a light gray background for distinction */
    padding: 20px;  /* Add some padding to space out the content */
    border-radius: 10px;  /* Optional: round the corners a bit for aesthetics */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: add a subtle shadow for depth */
}


    .profile-picture {
        margin-right: 20px; /* Add some space between profile picture and user statistics */
        margin-top: 20px;
    }
</style>

   </head>
   <body>
      <div class="container system-message">
         <p>System message: {{message}}</p>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-6"> <!-- whole profile panel -->
               <div class="profile-container">
                  <div class="profile-picture">
                     <img src="{{file['img']}}" alt="Profile Picture" width="100">
                  </div>
                  <div>

<div class="card md-10">
  <div class="card-header">
    <h4 class="card-title">Welcome, {{user}}</h4>
      {% if not file.get("alive", "N/A") and file.get("action_points", "N/A") > 5000 %}
      <a class="btn btn-light btn-lg btn-block" href="/revive"> 💀 Revive 💀 </a>
      {% end %}
  </div>
  <div class="card-body">
    <div class="row">
      <!-- First Column -->
      <div class="col-md-9">
        <p class="card-text">Age: {{ file.get("age", "N/A") }}</p>
        <p class="card-text">Alive: {{ file.get("alive", "N/A") }}</p>
        <p class="card-text">Experience: {{ file.get("exp", "N/A") }}</p>
        <p class="card-text">Health Points: {{ file.get("hp", "N/A") }}</p>
        <p class="card-text">Armor: {{ file.get("armor", "N/A") }}</p>
      </div>

      <!-- Second Column -->
      <div class="col-md-9">
        <p class="card-text">Population limit: {{ file.get("pop_lim", "N/A") }}</p>
        <p class="card-text">Peasants: {{ file.get("peasants", "N/A") }}</p>
        <p class="card-text">Army: {{ file.get("army_free", "N/A") }} / {{ file.get("army_deployed", "N/A") }}</p>
        <p class="card-text">Action points: {{ file.get("action_points", "N/A") }}</p>
        <p class="card-text">Position: ({{ file.get("x_pos", "N/A") }}, {{ file.get("y_pos", "N/A") }})</p>
      </div>
    </div>
  </div>
</div>



                  </div>
               </div>
            </div>
            <!-- Navigation menu placed next to the compact-stats -->
    <div class="col-md-5 navigation-menu">

<div class="container mt-4">

    <!-- First Row for Navigation Buttons -->
    <div class="row justify-content-center">
        <div class="btn-group" role="group">
            <a id="btnUp" class="btn btn-lg active btn-up" href="/move?direction=up" role="button">Up<br>🔼</a>
            <a id="btnLeft" class="btn btn-lg active btn-up" href="/move?direction=left" role="button">Left<br>◀️</a>
            <a id="btnDown" class="btn btn-lg active btn-up" href="/move?direction=down" role="button">Down<br>🔽</a>
            <a id="btnRight" class="btn btn-lg active btn-up" href="/move?direction=right" role="button">Right<br>▶️</a>
        </div>
    </div>

    <!-- Second Row for Other Actions -->
    <div class="row justify-content-center mt-1">
        <div class="btn-group" role="group">
            <a class="btn btn-lg active btn-up" href="/map" role="button">Map<br>🗺️</a>
            <a class="btn btn-lg active btn-up" href="/" role="button">Refresh<br>🔄</a>
            <a class="btn btn-lg active btn-up" href="/logout" role="button">Logout<br>🌙</a>
        </div>
    </div>

</div>








                <div class="card mt-3">


    <div class="card-header">
      <h4 class="card-title">Available Resources</h4>
    </div>
    <div class="card-body">
      <p class="card-text">🪵Wood: {{file["wood"]}}</p>
      <p class="card-text">🥩Food: {{file["food"]}}</p>
      <p class="card-text">🪨Bismuth: {{file["bismuth"]}}</p>
    </div>
  </div>

            </div>
         </div>

<!-- Current Tile and Inventory -->
<div class="container">
    <div class="row">
        <!-- Current Tile -->
        <div class="col-md-4">
            <h4>Current Tile</h4>
            {% for entry in on_tile_map %}
            <div class="row">
                <div class="col-md-6 pr-md-1">
                    <p>Type: {{ list(entry.values())[0].get("type") }}</p>
                    <p><img src=/img/assets/{{list(entry.values())[0].get("type")}}.png alt="Icon" class="menu-icon"></p>
                    <p>Control: {{ list(entry.values())[0].get("control") }}</p>
                    <p>Garrison: {{ list(entry.values())[0].get("soldiers") }}</p>
                </div>
                <div class="col-md-6 pl-md-1">
                    <p style="text-align: left;">Actions:</p>
                    {% for action in actions.get(entry) %}
                    <div class="p-1">
                        <a id="btnAct2" class="btn btn-light btn-lg" href="{{ action['action'] }}" role="button">{{ action['name'] }}</a>
                    </div>
                    {% end %}
                </div>
            </div>
            {% end %}
        </div>

        <!-- Inventory Column -->
        <div class="col-md-4">
            <h4>Equipped</h4>
            {% for item in file["equipped"] %}
            <div class="col">
                <p>Type: {{item.get("type")}}</p>
                <p>Damage: {{item.get("min_damage")}}-{{item.get("max_damage")}}</p>
                <p>Placement: {{item.get("role", "N/A")}}</p>
                <p><img src=/img/assets/{{item["type"]}}.png alt="Item Icon" class="menu-icon"></p>
                <p>{{descriptions.get(item["type"])}}</p>
            </div>
            {% end %}
        </div>

                <div class="col-md-4">
            <h4>Inventory</h4>
            {% for item in file["unequipped"] %}
            <div class="col">
                <p>Type: {{item.get("type")}}</p>
                <p>Damage: {{item.get("min_damage")}}-{{item.get("max_damage")}}</p>
                <p>Placement: {{item.get("role", "N/A")}}</p>
                <p><img src=/img/assets/{{item["type"]}}.png alt="Item Icon" class="menu-icon"></p>
                <p>{{descriptions.get(item["type"])}}</p>
                <a class="btn btn-light btn-lg btn-block" href='/equip?id={{item["id"]}}'>equip {{item["type"]}}</a>

            </div>
            {% end %}
        </div>
    </div>
</div>





      <div class="container">
            <hr/>

          <!-- acquired column -->
<div class="col-md-6">
    <h4>Acquired Tiles</h4>
    <div class="row">  <!-- Add a row div to contain the columns -->
        {% for coord, building in file["construction"].items() %}
        <div class="col-md-4"> <!-- Set this to col-md-4 to make 3 columns -->

            <p>Type: {{ building.get("type") }}</p>
            <p><img src="/img/assets/{{building.get('type')}}.png" alt="Item Icon" class="menu-icon"></p>
            <p>Position: ({{ coord }})</p>
            <p>Garrison: {{ building.get("soldiers") }}</p>
        </div>
        {% end %}
    </div> <!-- Close the row div -->
</div>

<hr/>
<div class="row mb-3 align-items-start">
    <!-- Construction menu column -->
    <div class="col-md-12">
        <h4>Construction Menu</h4>
        <div class="row">
            <!-- First Row -->
            <div class="col-md-4">
                <a class="btn btn-light btn-lg btn-block" href="/build?entity=house&name=town1">
                    <img src="/img/assets/house.png" alt="House Icon" class="menu-icon"> House
                </a>
                <p>{{descriptions.get("house")}}</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-light btn-lg btn-block" href="/build?entity=mine&name=town1">
                    <img src="/img/assets/mine.png" alt="Mine Icon" class="menu-icon"> Mine
                </a>
                <p>{{descriptions.get("mine")}}</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-light btn-lg btn-block" href="/build?entity=farm&name=town1">
                    <img src="/img/assets/farm.png" alt="Farm Icon" class="menu-icon"> Farm
                </a>
                <p>{{descriptions.get("farm")}}</p>
            </div>

            <!-- Second Row -->
            <div class="col-md-4">
                <a class="btn btn-light btn-lg btn-block" href="/build?entity=barracks&name=town1">
                    <img src="/img/assets/barracks.png" alt="Barracks Icon" class="menu-icon"> Barracks
                </a>
                <p>{{descriptions.get("barracks")}}</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-light btn-lg btn-block" href="/build?entity=sawmill&name=wc1">
                    <img src="/img/assets/sawmill.png" alt="Sawmill Icon" class="menu-icon"> Sawmill
                </a>
                <p>{{descriptions.get("sawmill")}}</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-light btn-lg btn-block" href="/build?entity=inn&name=wc1">
                    <img src="/img/assets/inn.png" alt="Inn Icon" class="menu-icon"> Inn
                </a>
                <p>{{descriptions.get("inn")}}</p>
            </div>

            <!-- Third Row -->
            <div class="col-md-4">
                <a class="btn btn-light btn-lg btn-block" href="/build?entity=archery_range&name=wc1">
                    <img src="/img/assets/archery_range.png" alt="Archery Range Icon" class="menu-icon"> Archery Range
                </a>
                <p>{{descriptions.get("archery_range")}}</p>
            </div>
            <!-- Add more construction options in similar format as needed -->
        </div>
    </div>
</div>



    <!-- Displaying users on the tile -->
    {% for entry in on_tile_users %}
    <div class="row"> <!-- Create a new row for each entry -->
        <div class="col-md-6 pr-md-1">
            <p>Name: {{ list(entry.keys())[0] }}</p>
            <p>Type: {{ list(entry.values())[0].get("type") }}</p>
            <p>HP: {{ list(entry.values())[0].get("hp") }}</p>
            <p><img src="{{list(entry.values())[0].get('img')}}" alt="Profile Picture" class="profile-pic"></p>
        </div>
        <div class="col-md-6 pl-md-1">
            <p style="text-align: left;">Actions:</p>
            {% for action in actions.get(entry) %}
                <div class="p-1">
                    <a id="btnAct" class="btn btn-light btn-lg" href="{{ action['action'] }}" role="button">{{ action['name'] }}</a>
                </div>
            {% end %}
        </div>
    </div> <!-- Close the row for each entry -->
    {% end %}
</div>



         </div>


      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
      <script>
         document.addEventListener("keydown", function(event) {
             var direction = null;
             switch (event.key) {
                 case "ArrowLeft":
                     direction = "left";
                     break;
                 case "ArrowRight":
                     direction = "right";
                     break;
                 case "ArrowUp":
                     direction = "up";
                     break;
                 case "ArrowDown":
                     direction = "down";
                     break;
             }

             if (direction) {
                 // Simulate the click on the corresponding button
                 var button = document.getElementById('btn' + direction.charAt(0).toUpperCase() + direction.slice(1));
                 if (button) {
                     button.click();
                 }
             }
         });
      </script>
   </body>
</html>
